<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a31c_task">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.31C_task">
        <activity
            android:name=".resultAct"
            android:exported="false" />
        <activity
            android:name=".fifth_questionAct"
            android:exported="false" />
        <activity
            android:name=".fourth_questionAct"
            android:exported="false" />
        <activity
            android:name=".third_questionAct"
            android:exported="false" />
        <activity
            android:name=".second_questionAct"
            android:exported="false" />
        <activity
            android:name=".first_questionAct"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>